Package: resetter
Version: 3.0.0-stable
Installed-Size: 1076
Maintainer: gaining <gaining7@outlook.com>
Section: python
Homepage: https://github.com/gaining/resetter
Architecture: all
Priority: optional
Depends: coreutils (>=7.0), add-apt-key (>=1.0), python3-pyqt5 (>=5.5.0), python3-bs4 (>=4.4.0), python3-apt (>=1.0.0), python3-psutil (>=3.4.1), python3-pyqt5.qtsvg (>=5.5.0)
Recommends: gtk2-engines-pixbuf (>=2.24)
Pre-Depends: policykit-1 (>=0.105), python3 (>=3.5.0)
Description: Resets debian or ubuntu based distros.
 Resetter provides an easy way to partially reset your debian based linux by removing apps that did not come with your installation. It also has other useful tools such as a ppa manager, an installer and a way to install ppa's straight from launchpad.net.

