[Desktop Entry]
Name=Resetter
Version=1.0
Exec=/usr/bin/resetter
Comment=reset your system to stock
Icon=/usr/lib/resetter/data/icons/resetter-48x48.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=System;